/* General style */



img{
  max-width: 100%;
}

/* header */


header{
    display: flex;
    flex-wrap: wrap;
    border-bottom: #7d97ad solid;
    margin-bottom: 10px;
}

header img{
    margin-top: auto;
    margin-bottom: 22px;
}

header .mainTitle{
    flex-grow: 1;
    max-width: calc(100% - 70px);
    padding: 0px 10px 0px;
}

header h1,
header h4{
    color: #2d3c49;
    text-align: right; 
    text-transform: uppercase;
}


/* main */


.feature{
    display: flex;
    flex-wrap: wrap;
}

.feature h2{
    color: #7d97ad;
    width: 100%;
}

.feature a, 
.feature article.noLink {
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.feature div{
    margin: auto;
}

.feature h3{
    text-transform: uppercase;
}

.feature h3,
.feature p{
    color: #2d3c49;
    text-decoration: none;
    bottom: 10px;
}

/**breakpoints*/

@media screen and (min-width: 450px){
    
    .feature a,
    .feature article.noLink {
        width: 50%;
    }
}

@media screen and (min-width: 900px){

    .feature a,
    .feature article.noLink {
        width: 33%;
    }
}

@media screen and (min-width: 1100px){
    body{
        max-width: 1100px;
        margin: auto;
    }
}
